{{#each this}}
   <li class="list-item">
    <div class="photo-card">
        <a class="link-item">
        <div class="item-card">
        <img src="{{webformatURL}}" data-source='{{largeImageURL}}' class="photo-img" alt="{{tags}}"/>
        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                <p class="text-color">{{likes}}</p>
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                <p class="text-color">{{views}}</p>
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                <p class="text-color">{{comments}}</p>
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                <p class="text-color">{{downloads}}</p>
            </p>
        </div>
        </div>
        </a>
    </div>
   </li>
{{/each}}